@font-face {
    font-family: poppins;
    src: url(aset/font/Poppins-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: poppins;
    background-color: rgb(241, 241, 241);
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

nav{
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 70, 220, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
}

nav ul li h1{
    
    color: white;
    padding: 10px;
    font-size: 50px;
}

nav a{
    color: white;
    display: flex ;
    align-items: center;
    height: 100%;
}


nav a img{
    
    width : 80%;
}
nav a img.kecil{
    display: none;
}

body nav ul li .dropdown{
    transition: all 0.4s;
}

.dropdown{
    display: none;
    opacity: 0%;
    
}

nav ul li:hover .dropdown{
    
    opacity: 100%;
    display: block;
    position: absolute;
    top: 15vh;
    right: 0;
    background-color: rgba(0, 70, 220, 0.7);
    border-radius: 0  0 10px 10px ;
}

.dropdown ul li{
    padding: 10px;
    text-align: left;
}

/* Sampul */

.sampul.sejarah img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd5.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.visimisi img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd4.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.susunan img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd1.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.kontak img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd2.jpg);
    background-position: center;
    background-size: 100%;
}


/* RESPONSIVE */

@media (max-width: 550px) {

    body nav a img.kecil{
        height: 70%;
        display: block;
    }
    body nav a img.besar{
        height: 70%;
        display: none;
    }

    body .container1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 10px;
        padding: 50px;
    
        height: 100%;
        width: 100%;
        
        text-align: center;
        font-size: 250%;
        position: absolute;
        z-index: 2;
        color: white;
        background-color: rgba(22, 22, 22, 0.75);
        border-radius: 20px;
    
    }

    body .container2 .data{
        flex-direction: column;
    }

    .container2 .data .utama{
        height: 50%;
        width: 100%;
    }

    .container2 .data .kedua{
        height: 50%;
        width: 100%;
    }



}

/* Animasi Mengambang */

.mengambang:hover{
    transform:scale(1.05) ;
    box-shadow: -5px 10px 15px rgba(0, 10, 100, 0.35)  ;
}



/* Video */
.container1{
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container1 video{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.container1 h1{
    display: none;
}


/* DATA */

.container2{
    width: 100%;
    /* border: 2px solid red; */
    padding: 5%;
}


.container2 .data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    /* border: 3px solid rgb(0, 185, 225); */
    border-radius: 30px ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);

    
}



.data .utama{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255) ;
    /* box-shadow: -5px 5px 15px rgb(0, 195, 255); */
    border-radius: 40px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 5%;

    transition: all 0.4s;
}

.utama p{
    margin-top:10px;
}

.data .kedua{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}

.data .kedua .data_tentang{
    /* color: rgb(0, 101, 168); */
    padding: 10px 20px;
    margin: 10px;
    width: 100%;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly ; */
    align-items: center;
    background-color:  rgb(255, 255, 255);
    /* box-shadow: -5px 5px 15px rgb(0, 195, 255); */
    border-radius: 10px;

    transition: all 0.4s;
}

.data .kedua .data_tentang img{
    width: 50px;
    height: 50px;
    

}


.data .kedua .data_tentang .isi_data{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* PENGELOLA */

.container3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5vh;
    /* background-image: url(aset/img/hd5.jpg); */
    background-position: center;
    background-size: 100%;
}

.pengelola{
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.pengelola .judul{
    padding: 15px;
}

.pengelola .judul h2{
    margin:  0 20px 20px;

}


.pengelola .isi{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pengelola .isi .card{
    height: 350px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    
    border-radius: 30px;

    transition: all 0.4s;

}

.pengelola .isi .card img{
    height :auto;
    width: 100%;
    border-radius: 10px;
}

.pengelola .isi .card span{
    text-decoration: underline;
    transform: scale(1.5);
    margin: 10px;
}



/* Program Pengembangan */

.container4{
    width: 100%;
    padding: 10%;
}

.program_pengembangan {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    
}

.program_pengembangan .judul{
    /* max-width: 50%; */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    justify-content: left;
}

span.warna{
    padding: 5px 10px;
    color: white;
    background-color: rgba(0, 70, 220, 0.7);
    border-radius: 10px;
}

.daftar_program .program{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.6s;
    background-color: white;
}

.daftar_program .program:hover img{
    background-color: rgba(30, 90, 225, 0.6);
    
}

.daftar_program .program img{
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.8s;
    
}

.daftar_program .program .isi_program{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.daftar_program .program .isi_program p{
    display: flex;
    flex-wrap: wrap;
    
}




/* Sejarah */

.container6{   
    width: 100%;
    padding: 10%;
}

.container6 .sejarah{
    width: 100%;
    padding: 7%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container6 .sejarah p.pertama{
    margin-top: 50px;
}

/* Visi Misi */
.container7{
    width: 100%;
    padding: 10%;
}

.container7 .visimisi{
    width: 100%;
    padding: 7%;
    box-shadow: -10px 10px 20px rgba(0, 225, 255, 0.5);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visimisi .visi{
    padding: 20px;
    box-shadow: -5px 5px 10px rgba(0, 225, 255, 0.5);
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visimisi .misi{
    padding: 20px;
    box-shadow: -5px 5px 10px rgba(0, 225, 255, 0.5);
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visimisi .misi ul li{
    padding: 10px;
}

.container8{
    width: 100%;
    padding: 10%;
}

.container8 .susunan{
    width: 100%;
    padding: 7%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.susunan .isi_susunan{
    width: 100%;
    margin: 20px;
}

.susunan .isi_susunan .top{
    margin-top: 20px;
}

.susunan .isi_susunan ol{
    margin-left: 20px;
}

/* Alamat */

.container9{
    width: 100%;
    padding: 10%;
}
.container9 .kontak{
    width: 100%;
    padding: 7%;
    box-shadow: -10px 10px 20px rgba(0, 225, 255, 0.5);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontak{
    display: flex;
    flex-direction: column;
}

.kontak .alamat{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kontak .alamat img{
    height: 50px;
    width: 50px;
}





/* Foother */

footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 70, 220, 0.7);
}

footer h3{
    padding: 15px;
    color: white;
}

footer .sosmet{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .sosmet a{
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

footer .sosmet .wa:hover{
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}

footer .sosmet .ig:hover{
    background-color: rgba(255, 0, 100, 0.5);
    box-shadow: -5px 3px 10px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}

footer .sosmet .fb:hover{
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: -5px 3px 10px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}



footer .sosmet a img{
    width: 25px;
    height: 25px;  
}

footer .copy{
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 70, 220);
}