@font-face {
    font-family: poppins;
    src: url(aset/font/Poppins-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: poppins;
    background-color: rgb(240, 240, 240);
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

nav{
    z-index: 99;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    background-color: rgba(0, 70, 220, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
}

nav ul li h1{
    
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 50px;
}

nav a{
    color: white;
    display: flex ;
    align-items: center;
    height: 100%;
}


nav a img{
    
    width : 70%;
    padding: 10px 20px 10px 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}
nav a img.kecil{
    display: none;
}

body nav ul li .dropdown{
    transition: all 0.4s;
}

.dropdown{
    opacity: 0;
    display: block;
    position: absolute;
    right: 0;
    pointer-events: none;

    
}

nav ul li:hover .dropdown{
    pointer-events: auto;
    opacity: 100;
    display: block;
    position: absolute;
    right: 0;
    
    background-color: rgba(0, 70, 220, 0.8);
    border-radius: 0  0 10px 10px ;
}

.dropdown ul li{
    padding: 16px;
    text-align: left;
    border-radius: 10px;
    transition: all 0.3s;
}

.dropdown ul li:hover{
    background-color:  rgba(0, 50, 160, 0.75);
}

.dropdown ul li a{
    padding: 5px;
}

/* Sampul */

.sampul.sejarah img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd5.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.visimisi img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd4.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.susunan img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd1.jpg);
    background-position: center;
    background-size: 100%;
}

.sampul.kontak img{
    height: 50vh;
    width: 100%;
    background-image: url(aset/img/hd2.jpg);
    background-position: center;
    background-size: 100%;
}


/* RESPONSIVE */

@media (max-width: 550px) {

    body nav a img.kecil{
        padding: 5px;
        width: 40%;
        display: block;
        background-color: rgba(255, 255, 255, 0);
    }
    body nav a img.besar{
        display: none;
    }

    body .container1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 10px;
        padding: 50px;
    
        height: 105%;
        width: 100%;
        
        text-align: center;
        font-size: 250%;
        position: absolute;
        z-index: 2;
        color: white;
        background-color: rgba(22, 22, 22, 0.75);
        border-radius: 0 0 20px 20px;
    
    }

    body .container2 .data{
        flex-direction: column;
    }

    .container2 .data .utama{
        height: 50%;
        width: 100%;
    }

    .container2 .data .kedua{
        height: 50%;
        width: 100%;
    }

    .kontak .info .info_alamat .alamat{
        flex-direction: column;
    }

    .kontak .info .info_alamat .alamat img{
        margin-left: 0;
    }

    .kontak .info .map iframe{
        width: 100%;
        min-height: 250px;
    }

}

/* Animasi Mengambang */

.mengambang:hover{
    transform:scale(1.05) ;
    box-shadow: -5px 10px 15px rgba(0, 10, 100, 0.35)  ;
}




/* Video */
.container1{
    width: 100%;
    height: 105vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container1 video{
    position: absolute;
    object-fit: cover;
    height: 105%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: -5px 10px 15px  rgba(0, 10, 100, 0.35);
}


.container1 h1{
    display: none;
}


/* DATA */

.container2{
    width: 100%;
    /* border: 2px solid red; */
    padding: 5%;
}


.container2 .data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    /* border: 3px solid rgb(0, 185, 225); */
    border-radius: 30px ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);

    
}



.data .utama{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255) ;
    /* box-shadow: -5px 5px 15px rgb(0, 195, 255); */
    border-radius: 40px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 5%;

    transition: all 0.4s;
}

.utama p{
    margin-top:10px;
}

.data .kedua{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}

.data .kedua .data_tentang{
    /* color: rgb(0, 101, 168); */
    padding: 15px;
    margin: 10px;
    width: 100%;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly ; */
    align-items: center;
    background-color:  rgb(255, 255, 255);
    /* box-shadow: -5px 5px 15px rgb(0, 195, 255); */
    border-radius: 15px;

    transition: all 0.4s;
}

.data .kedua .data_tentang img{
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.6s;
}

.data .kedua .data_tentang:hover img{
    background-color: rgba(0, 70, 220, 0.7);
}


.data .kedua .data_tentang .isi_data{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* PENGELOLA */

.container3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5vh;
    /* background-image: url(aset/img/hd5.jpg); */
    background-position: center;
    background-size: 100%;
}

.pengelola{
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.pengelola .judul{
    padding: 15px;
}

.pengelola .judul h2{
    margin:  0 20px 20px;

}


.pengelola .isi{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pengelola .isi .card{
    height: 350px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    
    border-radius: 30px;

    transition: all 0.4s;

}

.pengelola .isi .card img{
    height :auto;
    width: 100%;
    border-radius: 10px;
}

.pengelola .isi .card span{
    text-decoration: underline;
    transform: scale(1.5);
    margin: 10px;
}



/* Program Pengembangan */

.container4{
    width: 100%;
    padding: 10%;
}

.program_pengembangan {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    
}

.program_pengembangan .judul{
    /* max-width: 50%; */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    justify-content: left;
}

span.warna{
    padding: 5px 10px;
    color: white;
    background-color: rgba(0, 70, 220, 0.7);
    border-radius: 10px;
}

.daftar_program .program{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s;
    background-color: white;
}

.daftar_program .program:hover img{
    background-color: rgba(0, 70, 220, 0.7);
    
}

.daftar_program .program img{
    width: 115px;
    height: 115px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.8s;
    
}

.daftar_program .program .isi_program{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.daftar_program .program .isi_program p{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    
}

/* Galery */

.container5{
    width: 100%;
    padding: 10% 7.5%;
    text-align: center;
}

.galery{
    padding: 50px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.galery h2 span{
    color: white;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: rgba(0, 70, 220, 0.7);
}

.galery .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;

    margin-top: 30px;
  }
  
  /* Create four equal columns that sits next to each other */
  .galery .row .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    margin: 0 10px;
  }
  
  .galery .row .column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;

    transition: all 0.4s;
    filter: grayscale(100%);

  }

  .galery .row .column img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    box-shadow: -5px 10px 15px rgba(0, 10, 100, 0.5)  ;
  }

  @media screen and (max-width: 800px) {
    .galery .row .column {
      -ms-flex: 45%;
      flex: 45%;
      max-width: 45%;
    }

    .galery .row .column.hilang{
        display: none;
    }
  }

  @media screen and (max-width: 550px) {
    .galery .row .column {
      -ms-flex: 75%;
      flex: 75%;
      max-width: 75%;
    }
  }
  


/* Sejarah */

.container6{   
    width: 100%;
    padding: 10%;
}

.container6 .sejarah{
    width: 100%;
    padding: 7%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container6 .sejarah .isi_sejarah{
    margin-top: 50px;
}

.sejarah .isi_sejarah{
    text-align: left;
}

.sejarah .isi_sejarah ol{
    margin-left: 20px;
}

/* Visi Misi */
.container7{
    width: 100%;
    padding: 10%;
}

.container7 .visimisi{
    width: 100%;
    padding: 7%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container7 .visimisi h2{
    margin-bottom: 30px;
}

.container7 .visimisi h2 span{
    color: white;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: rgba(0, 70, 220, 0.7);

}

.visimisi .visi{
    padding: 20px;
    transition: all 0.4s;
    border-radius: 30px;
    background-color: white;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visimisi .misi{
    padding: 20px;
    transition: all 0.4s;
    border-radius: 30px;
    background-color: white;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visimisi .misi ul li{
    padding: 10px;
}


/* Susunan Pengurus */
.container8{
    width: 100%;
    padding: 10%;
}

.container8 .susunan{
    width: 100%;
    padding: 7%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.susunan .judul{
    text-align: center;
    width: 100%;
}

.susunan .isi_susunan{
    margin: 20px;
}

.susunan .isi_susunan .top{
    margin-top: 20px;
}

.susunan .isi_susunan ul{
    margin-top: 20px;
}


/* Alamat */

.container9{
    width: 100%;
    padding: 10% 5%;
}
.container9 .kontak{
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontak h2{
    margin: 40px 20px;
    text-align: center;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.map iframe{
    width: 350px;
    height: 350px;
    padding: 20px;
    border: none;
}

.info_alamat{
    max-width: 600px;
    padding: 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}

.info_alamat .alamat{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;

    
}

.info_alamat .alamat .data_alamat{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info_alamat  .alamat img{
    height: 50px;
    width: 50px;
    margin: 10px;
}


.info_alamat .alamat.location:hover img.location{
    background-image: url(aset/icon/location_color.png);
    background-position: center;
    background-size: 100%;
}
.info_alamat .alamat.phone:hover img.phone{
    background-image: url(aset/icon/phone_color.png);
    background-position: center;
    background-size: 100%;
}
.info_alamat .alamat.mail:hover img.mail{
    background-image: url(aset/icon/mail_color.png);
    background-position: center;
    background-size: 100%;
}





/* Foother */

footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 70, 220, 0.7);
}

footer h3{
    padding: 15px;
    color: white;
}

footer .sosmet{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .sosmet a{
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

footer .sosmet .wa:hover{
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}

footer .sosmet .ig:hover{
    background-color: rgba(255, 30, 120, 0.705);
    box-shadow: -5px 3px 10px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}

footer .sosmet .fb:hover{
    background-color: rgba(25, 25, 255, 0.5);
    box-shadow: -5px 3px 10px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}

footer .sosmet .yt:hover{
    background-color: rgba(255, 50, 50, 0.8);
    box-shadow: -5px 3px 10px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    transform: scale(1.2);
}



footer .sosmet a img{
    width: 25px;
    height: 25px;  
}

footer .copy{
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 70, 220);
}

footer .copy a{
    color: white;
    text-decoration: none;
}